<div class="grid grid-cols-11 w-88">
  <span></span>
  <% alpha_table = {} %>
  <% (('a'..'j').zip(1..10)).each { |x| alpha_table[x[0]] = x[1] } %>

  <% ('a'..'j').each do |letter| %>
    <span class="grid justify-items-center text-gray-3 uppercase"><%=letter%></span>
  <% end %>

  <% 10.times do |count| %>
    <span class="grid items-center justify-items-center text-gray-3"><%=count + 1 %></span>
    <% 10.times do |inner_count| %>
      <span position="<%= alpha_table.index(inner_count+1) %>-<%= count +1 %>" class=" flex items-center justify-center border-white border rounded w-8 h-8 <%=bg_color[:hover]%> <%= bg_color[:default]%>">
        <input type="checkbox" class="appearance-none checked:bg-none transparent-bg focus:ring-0 border-0 w-3 h-3 rounded-full <%= bg_color[:checked] %> cursor-pointer"/>
      </span>
    <% end %>
  <% end %>
</div>