<div class="grid grid-cols-6">
  <h3 class="grid rotate-180 writing-vertical text-gray-2 uppercase px-1">Graveyard</h3>
  <div class="grid col-span-5 col-start-2 grid grid-rows-3 grid-flow-col self-center gap-y-2">
    <p class="text-red line-through">Cruiser (2 blocks)</p>
    <p class="text-gray-1">Destroyer (3 blocks)</p>
    <p class="text-gray-1">Submarine (3 blocks)</p>
    <p class="text-gray-1">Battleship (4 blocks)</p>
    <p class="text-gray-1">Aircraft Carrier(5 blocks)</p>
  </div>
</div>
