<div class="flex flex-column relative">
  <div class="flex align-center">
    <h3 class="rotate-180 writing-vertical text-gray-2 uppercase px-1 pl-5">Shipyard</h3>
  </div>
  <div class="flex flex-row align-center w-80 flex-wrap gap-y-2 gap-x-1.5">
    <%= render(ShipComponent.new(type: 'battleship'))%>
    <%= render(ShipComponent.new(type: 'submarine'))%>
    <%= render(ShipComponent.new(type: 'cruiser'))%>
    <%= render(ShipComponent.new(type: 'aircraft'))%>
    <%= render(ShipComponent.new(type: 'destroyer'))%>
  </div>
</div>
