<!--Ship type cruiser-->
<% if @type == 'cruiser' %>
  <div data-ship-name="<%= @type %>" class="flex flex-row py-0.5">
    <div class="<%= @type %>-1 back-default">
      <input type="checkbox" class="atom"/>
    </div>
    <div class="<%= @type %>-2 front-default">
      <input type="checkbox" class="atom"/>
    </div>
  </div>
<% end %>

<!--Ship type destroyer -->
<% if @type == 'destroyer' %>
  <div data-ship-name="<%= @type %>" class="flex flex-row py-0.5">
    <div class="<%= @type %>-1 back-default">
      <input type="checkbox" id="atom-checkbox" class="atom"/>
    </div>
    <div class="<%= @type %>-2 middle-atom" >
      <input type="checkbox" class="atom"/>
    </div>
    <div class="<%= @type %>-3 front-default">
      <input type="checkbox" class="atom"/>
    </div>
  </div>
<% end %>

<!--Ship type submarine -->
<% if @type == 'submarine' %>
  <div data-ship-name="<%= @type %>" class="flex flex-row py-0.5">
    <div class="<%= @type %>-1 back-default">
      <input type="checkbox" class="atom"/>
    </div>
    <div class="<%= @type %>-2 middle-atom" >
      <input type="checkbox" class="atom" />
    </div>
    <div class="<%= @type %>-3 front-submarine">
      <input type="checkbox" class="atom"/>
    </div>
  </div>
<% end %>

<!-- Battleship -->
<% if @type == 'battleship' %>
  <div data-ship-name="<%= @type %>" class="flex flex-row py-0.5">
    <div class="<%= @type %>-1 back-default">
      <input type="checkbox" class="atom"/>
    </div>
    <div class="<%= @type %>-2 middle-atom" >
      <input type="checkbox" class="atom" />
    </div>
    <div class="<%= @type %>-3 middle-atom" >
      <input type="checkbox" class="atom" />
    </div>
    <div class="<%= @type %>-4 front-default">
      <input type="checkbox" class="atom"/>
    </div>
  </div>
<% end %>

<!-- Aircraft -->
<% if @type == 'aircraft' %>
  <div data-ship-name="<%= @type %>" class="flex flex-row py-0.5">
    <div class="aircraft-1 back-aircraft">
      <input type="checkbox" class="atom"/>
    </div>
    <div class="aircraft-2 middle-atom" >
      <input type="checkbox" class="atom" />
    </div>
    <div class="aircraft-3 middle-atom" >
      <input type="checkbox" class="atom" />
    </div>
    <div class="aircraft-4 middle-atom" >
      <input type="checkbox" class="atom" />
    </div>
    <div class="aircraft-5 front-aircraft">
      <input type="checkbox" class="atom"/>
    </div>
  </div>
<% end %>
