<div class="board grid place-items-start mx-auto bg-white grid-cols-1 md:grid-cols-2 flex p-16 mb-12">
  <div class="my-board md:pr-14 sm:pr-0 md:border-r md:border-gray-6 sm:border-0">
    <div class="w-88">
      <%= render(BoardLabelComponent.new(title: 'my-fleet')) do %>
        Your fleet
      <% end %>
      <%= render(BoardComponent.new(board: 'my-board')) %>
      <div class="mt-8">
        <%= render(ShipyardComponent.new) %>
      </div>
    </div>
  </div>
  <div class="opponent-board md:pl-14 md:mt-0 sm:mt-12 sm:pl-0">
    <div class="w-88">
      <%= render(BoardLabelComponent.new(title: 'opponent-fleet')) do %>
        Opponent
      <% end %>
      <%= render(BoardComponent.new(board: 'opponent-board')) %>
      <div class="mt-8">
        <%= render(GraveyardComponent.new) %>
      </div>
    </div>
  </div>
</div>

