@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .atom{ 
    @apply appearance-none focus:bg-red focus-within:bg-red focus:ring-0 checked:bg-red checked:w-4 checked:h-4 checked:bg-none border-0 bg-gray-3 w-3 h-3 rounded-full hover:border-2 hover:border-gray-2 cursor-pointer focus:bg-red focus:ring-0 focus-visible:ring-0;
  }
  .front-default{
    @apply bg-gray-4 w-8 h-7 flex items-center justify-center bow;
  }

  .front-aircraft{
    @apply bg-gray-4 w-8 h-7 flex items-center justify-center rounded-r;
  }

  .front-submarine{
    @apply bg-gray-4 w-8 h-7 flex items-center justify-center rounded-r-full;
  }

  .middle-atom{
    @apply bg-gray-4 w-8 h-7 flex items-center justify-center;
  }
  .back-aircraft{
    @apply bg-gray-4 w-8 h-7 flex items-center justify-center rounded-l;
  }

  .back-default{
    @apply bg-gray-4 w-8 h-7 flex items-center justify-center rounded-l-full;
  }
}