h1{
  font-weight: semi-bold;
  font-size: 32px;
  letter-spacing: 0.3;
}

h2{
  font-weight: semi-bold;
  font-size: 20px;
  letter-spacing: 0.2;
}

h3{
  font-weight: semi-bold;
  font-size: 16px;
  letter-spacing: 0.2;
}

p{
  font-weight: regular;
  font-size: 14px;
  letter-spacing: 0.1;
}